img {
    max-width: 100%;
    margin-top: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.producto > * {
    flex: 1 1;
}

.producto {
    background: white;
    text-align: center;
    flex-basis: calc(25% - 20px);
    margin: 10px;
    font-weight: bold;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}

.producto:hover {
    transform: scale(1.05);
}

.producto figcaption {
    padding: 1em;
}

.agregar-carrito {
    border: 0;
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .4rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s, color .2s;
    border-bottom-right-radius: 0.5rem; /* 8px */
    border-bottom-left-radius: 0.5rem; /* 8px */
    width: 100%;
}

.agregar-carrito:hover {
    background-color: var(--clr-main);
    color: var(--clr-black);
}

.estilos {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-top-left-radius: 0.5rem; /* 8px */
    border-top-right-radius: 0.5rem; /* 8px */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


